.box {
  max-width: 1200px;
  margin: 0 auto;
}

/* -----------------Header--------------------- */
.header {
  margin-top: 20px;
  background-color: lightgreen;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__btn {
  margin-right: 20px;
}
.btn,
.create-visit {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(205, 179, 145);
}

.main {
  background-color: rgb(97, 140, 140);
}

/* -----------------Modal--------------------- */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close-modal {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-modal:hover,
.close-modal:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* -----------------Filter--------------------- */
.section__filter {
  margin: 0 auto;
}
.filter {
  display: flex;
  width: 70%;
  justify-content: space-between;
  margin: 0 auto;
  padding: 20px 0;
  align-items: flex-end;
}

.filter__search {
  width: 200px;
  border: 1px solid #b6ccec;
  padding: 10px;
  border-radius: 15px;
}

.filter__status select,
.filter__time select {
  border: 1px solid #b6ccec;
  color: #15152c;
  padding: 7px;
  border-radius: 15px;
  width: 100%;
  font-size: 17px;
}

.filter__status label,
.filter__time label {
  color: #313158;
  font-size: 20px;
}

.filter__btn {
  font-size: 15px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

/* ---------------------Visit----------- */
.visit__title {
  font-size: 30px;
  color: aliceblue;
  text-align: center;
  padding: 30px 0;
}
